[user]
	email = paul.dilyard@gmail.com
	name = Paul Dilyard
[credential]
	helper = osxkeychain
[hub]
	protocol = https
[core]
	excludesfile = ~/.gitignore
	editor = nvim
[mergetool]
	keepBackup = false
[difftool]
	prompt = false
[help]
	autocorrect = 1
[push]
	# See `git help config` (search for push.default)
	# for more information on different options of the below setting.
	#
	# Setting to git 2.0 default to suppress warning message
	default = simple
[alias]
	conflicts = diff --name-only --diff-filter=U
